.DS_Store
.build/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.xcodeproj
*~

# npm distribution
release/npm/bin/
release/npm/*.tgz
release/npm/.npmrc
